linkedin-post-automation/linkedin-automation.json
{
    "name": "LinkedIn post automation",
    "flow": [
        {
            "id": 2,
            "module": "airtable:ActionSearchRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 5087656
            },
            "mapper": {
                "base": "appt5LdnL5EbRPtlX",
                "view": "viwGS44pItFuaOEW7",
                "table": "tblJa26raafxnu2dk",
                "fields": [
                    "post_id",
                    "Date",
                    "Type",
                    "Notes",
                    "is_processed"
                ],
                "formula": "IF(\n  LOWER({is_processed}) = \"false\",\n  \"Unprocessed\"\n)",
                "maxRecords": "1",
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "base": {
                            "mode": "chose",
                            "label": "AI Integrations 2"
                        },
                        "sort": {
                            "mode": "chose"
                        },
                        "view": {
                            "mode": "chose",
                            "label": "Grid view"
                        },
                        "table": {
                            "mode": "chose",
                            "label": "LinkedIn"
                        },
                        "fields": {
                            "mode": "chose",
                            "label": [
                                "post_id",
                                "Date",
                                "Type",
                                "Notes",
                                "is_processed"
                            ]
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "AI Integration Schema Connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit"
                    },
                    {
                        "name": "sort",
                        "spec": [
                            {
                                "name": "field",
                                "type": "select",
                                "label": "Field",
                                "dynamic": true,
                                "options": []
                            },
                            {
                                "name": "direction",
                                "type": "select",
                                "label": "Direction",
                                "options": [
                                    {
                                        "label": "Descending",
                                        "value": "desc"
                                    },
                                    {
                                        "label": "Ascending",
                                        "value": "asc"
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Sort"
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "fields",
                        "type": "select",
                        "label": "Output Fields",
                        "multiple": true
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "post_id",
                        "type": "number",
                        "label": "post_id"
                    },
                    {
                        "name": "Date",
                        "time": false,
                        "type": "date",
                        "label": "Date"
                    },
                    {
                        "name": "Type",
                        "type": "text",
                        "label": "Type"
                    },
                    {
                        "name": "Notes",
                        "type": "text",
                        "label": "Notes",
                        "multiline": true
                    },
                    {
                        "name": "is_processed",
                        "type": "text",
                        "label": "is_processed"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "post_id",
                        "value": "{{2.post_id}}"
                    },
                    {
                        "name": "{{2.Date}}",
                        "value": "{{2.Date}}"
                    },
                    {
                        "name": "type",
                        "value": "{{2.Type}}"
                    },
                    {
                        "name": "notes",
                        "value": "{{2.Notes}}"
                    },
                    {
                        "name": "is_processed",
                        "value": "{{2.is_processed}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        },
                        "variables": {
                            "items": [
                                null,
                                null,
                                null,
                                null,
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                            }
                        ],
                        "type": "array",
                        "label": "Variables"
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "post_id",
                        "type": "any",
                        "label": "post_id"
                    },
                    {
                        "name": "2025-08-15",
                        "type": "any",
                        "label": "2025-08-15"
                    },
                    {
                        "name": "type",
                        "type": "any",
                        "label": "type"
                    },
                    {
                        "name": "notes",
                        "type": "any",
                        "label": "notes"
                    },
                    {
                        "name": "is_processed",
                        "type": "any",
                        "label": "is_processed"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "openai-gpt-3:createModelResponse",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 5088009
            },
            "mapper": {
                "input": "You are a LinkedIn writing assistant who specializes in crafting engaging posts.  \nI will provide you with context from our MyStrivera community sessions.  \n\nYour task is to write a LinkedIn post that:  \n- Shares my learnings as a job seeker, told from a first-person, learner’s perspective.  \n- Uses a storytelling tone with natural, conversational language (no corporate jargon).  \n- Starts with a strong hook that grabs attention in the first 1–2 lines.  \n- Summarizes the key lessons from each session in a concise way (no more than 200–220 words total).  \n- Ends with a clear call-to-action that invites interaction (e.g., asking readers about their own learnings).  \n- Avoids emojis.  \n\nThe goal is to update my LinkedIn audience in a way that feels human, relatable, and easy to read.  \n\n\nHere's the type of sessions {{3.type}}\n\nFor each session, here are the notes: \n{{3.notes}}",
                "model": "o4-mini",
                "store": true,
                "format": {},
                "reasoning": {},
                "background": false,
                "truncation": "auto",
                "inputContentType": "text",
                "max_output_tokens": "2048",
                "createConversation": true,
                "parallel_tool_calls": true
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "o4-mini (system)"
                        },
                        "store": {
                            "mode": "chose"
                        },
                        "tools": {
                            "mode": "chose"
                        },
                        "format": {
                            "nested": {
                                "type": {
                                    "mode": "chose",
                                    "label": "Empty"
                                }
                            }
                        },
                        "include": {
                            "mode": "chose"
                        },
                        "metadata": {
                            "mode": "chose"
                        },
                        "reasoning": {
                            "nested": {
                                "effort": {
                                    "mode": "chose",
                                    "label": "Empty"
                                },
                                "summary": {
                                    "mode": "chose",
                                    "label": "Empty"
                                }
                            }
                        },
                        "background": {
                            "mode": "chose"
                        },
                        "truncation": {
                            "mode": "chose",
                            "label": "Auto"
                        },
                        "tool_choice": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "inputContentType": {
                            "mode": "chose",
                            "label": "Text prompt"
                        },
                        "createConversation": {
                            "mode": "chose"
                        },
                        "parallel_tool_calls": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "Custom Connection - 1 "
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "inputContentType",
                        "type": "select",
                        "label": "Prompt Type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "text",
                                "image",
                                "file",
                                "prompt",
                                "items"
                            ]
                        }
                    },
                    {
                        "name": "conversationId",
                        "type": "text",
                        "label": "Conversation ID"
                    },
                    {
                        "name": "createConversation",
                        "type": "boolean",
                        "label": "Create a new conversation",
                        "required": true
                    },
                    {
                        "name": "max_output_tokens",
                        "type": "integer",
                        "label": "Max Output Tokens"
                    },
                    {
                        "name": "tools",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Type",
                                    "options": [
                                        {
                                            "label": "File search",
                                            "value": "file_search",
                                            "nested": [
                                                {
                                                    "help": "The IDs of the vector stores to search.",
                                                    "name": "vector_store_ids",
                                                    "type": "select",
                                                    "label": "Vector Store IDs",
                                                    "options": "rpc://openai-gpt-3/1/getVectorStores",
                                                    "multiple": true,
                                                    "required": true,
                                                    "validate": {
                                                        "maxItems": 2
                                                    }
                                                },
                                                {
                                                    "help": "A filter to apply based on file attributes.",
                                                    "name": "filters",
                                                    "spec": [
                                                        {
                                                            "name": "type",
                                                            "type": "select",
                                                            "label": "Type",
                                                            "options": [
                                                                {
                                                                    "label": "Equals",
                                                                    "value": "eq",
                                                                    "nested": [
                                                                        {
                                                                            "help": "The key to compare against the value.",
                                                                            "name": "key",
                                                                            "type": "text",
                                                                            "label": "Key",
                                                                            "required": true
                                                                        },
                                                                        {
                                                                            "help": "The value to compare against the attribute key",
                                                                            "name": "value",
                                                                            "type": "any",
                                                                            "label": "Value",
                                                                            "required": true
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "label": "Not equal",
                                                                    "value": "ne",
                                                                    "nested": [
                                                                        {
                                                                            "help": "The key to compare against the value.",
                                                                            "name": "key",
                                                                            "type": "text",
                                                                            "label": "Key",
                                                                            "required": true
                                                                        },
                                                                        {
                                                                            "help": "The value to compare against the attribute key",
                                                                            "name": "value",
                                                                            "type": "any",
                                                                            "label": "Value",
                                                                            "required": true
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "label": "Greater than",
                                                                    "value": "gt",
                                                                    "nested": [
                                                                        {
                                                                            "help": "The key to compare against the value.",
                                                                            "name": "key",
                                                                            "type": "text",
                                                                            "label": "Key",
                                                                            "required": true
                                                                        },
                                                                        {
                                                                            "help": "The value to compare against the attribute key",
                                                                            "name": "value",
                                                                            "type": "any",
                                                                            "label": "Value",
                                                                            "required": true
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "label": "Greater than or equal",
                                                                    "value": "gte",
                                                                    "nested": [
                                                                        {
                                                                            "help": "The key to compare against the value.",
                                                                            "name": "key",
                                                                            "type": "text",
                                                                            "label": "Key",
                                                                            "required": true
                                                                        },
                                                                        {
                                                                            "help": "The value to compare against the attribute key",
                                                                            "name": "value",
                                                                            "type": "any",
                                                                            "label": "Value",
                                                                            "required": true
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "label": "Less than",
                                                                    "value": "lt",
                                                                    "nested": [
                                                                        {
                                                                            "help": "The key to compare against the value.",
                                                                            "name": "key",
                                                                            "type": "text",
                                                                            "label": "Key",
                                                                            "required": true
                                                                        },
                                                                        {
                                                                            "help": "The value to compare against the attribute key",
                                                                            "name": "value",
                                                                            "type": "any",
                                                                            "label": "Value",
                                                                            "required": true
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "label": "Less than or equal",
                                                                    "value": "lte",
                                                                    "nested": [
                                                                        {
                                                                            "help": "The key to compare against the value.",
                                                                            "name": "key",
                                                                            "type": "text",
                                                                            "label": "Key",
                                                                            "required": true
                                                                        },
                                                                        {
                                                                            "help": "The value to compare against the attribute key",
                                                                            "name": "value",
                                                                            "type": "any",
                                                                            "label": "Value",
                                                                            "required": true
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "label": "Compound filter [and]",
                                                                    "value": "and",
                                                                    "nested": [
                                                                        {
                                                                            "name": "filters",
                                                                            "spec": {
                                                                                "spec": [
                                                                                    {
                                                                                        "name": "type",
                                                                                        "type": "select",
                                                                                        "label": "Type",
                                                                                        "options": [
                                                                                            {
                                                                                                "label": "Equals",
                                                                                                "value": "eq"
                                                                                            },
                                                                                            {
                                                                                                "label": "Not equal",
                                                                                                "value": "ne"
                                                                                            },
                                                                                            {
                                                                                                "label": "Greater than",
                                                                                                "value": "gt"
                                                                                            },
                                                                                            {
                                                                                                "label": "Greater than or equal",
                                                                                                "value": "gte"
                                                                                            },
                                                                                            {
                                                                                                "label": "Less than",
                                                                                                "value": "lt"
                                                                                            },
                                                                                            {
                                                                                                "label": "Less than or equal",
                                                                                                "value": "lte"
                                                                                            }
                                                                                        ],
                                                                                        "required": true
                                                                                    },
                                                                                    {
                                                                                        "help": "The key to compare against the value.",
                                                                                        "name": "key",
                                                                                        "type": "text",
                                                                                        "label": "Key",
                                                                                        "required": true
                                                                                    },
                                                                                    {
                                                                                        "help": "The value to compare against the attribute key",
                                                                                        "name": "value",
                                                                                        "type": "any",
                                                                                        "label": "Value",
                                                                                        "required": true
                                                                                    }
                                                                                ],
                                                                                "type": "collection",
                                                                                "label": "Filter"
                                                                            },
                                                                            "type": "array",
                                                                            "label": "Filters",
                                                                            "labels": {
                                                                                "add": "Add filter"
                                                                            },
                                                                            "required": true
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "label": "Compound filter [or]",
                                                                    "value": "or",
                                                                    "nested": [
                                                                        {
                                                                            "name": "filters",
                                                                            "spec": {
                                                                                "spec": [
                                                                                    {
                                                                                        "name": "type",
                                                                                        "type": "select",
                                                                                        "label": "Type",
                                                                                        "options": [
                                                                                            {
                                                                                                "label": "Equals",
                                                                                                "value": "eq"
                                                                                            },
                                                                                            {
                                                                                                "label": "Not equal",
                                                                                                "value": "ne"
                                                                                            },
                                                                                            {
                                                                                                "label": "Greater than",
                                                                                                "value": "gt"
                                                                                            },
                                                                                            {
                                                                                                "label": "Greater than or equal",
                                                                                                "value": "gte"
                                                                                            },
                                                                                            {
                                                                                                "label": "Less than",
                                                                                                "value": "lt"
                                                                                            },
                                                                                            {
                                                                                                "label": "Less than or equal",
                                                                                                "value": "lte"
                                                                                            }
                                                                                        ],
                                                                                        "required": true
                                                                                    },
                                                                                    {
                                                                                        "help": "The key to compare against the value.",
                                                                                        "name": "key",
                                                                                        "type": "text",
                                                                                        "label": "Key",
                                                                                        "required": true
                                                                                    },
                                                                                    {
                                                                                        "help": "The value to compare against the attribute key",
                                                                                        "name": "value",
                                                                                        "type": "any",
                                                                                        "label": "Value",
                                                                                        "required": true
                                                                                    }
                                                                                ],
                                                                                "type": "collection",
                                                                                "label": "Filter"
                                                                            },
                                                                            "type": "array",
                                                                            "label": "Filters",
                                                                            "labels": {
                                                                                "add": "Add filter"
                                                                            },
                                                                            "required": true
                                                                        }
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Filters"
                                                },
                                                {
                                                    "name": "max_num_results",
                                                    "type": "integer",
                                                    "label": "Max Results Number",
                                                    "validate": {
                                                        "max": 50,
                                                        "min": 1
                                                    }
                                                },
                                                {
                                                    "help": "Ranking options for search.",
                                                    "name": "ranking_options",
                                                    "spec": [
                                                        {
                                                            "help": "The ranker to use for the file search.",
                                                            "name": "ranker",
                                                            "type": "select",
                                                            "label": "Ranker",
                                                            "options": [
                                                                {
                                                                    "label": "auto",
                                                                    "value": "auto"
                                                                },
                                                                {
                                                                    "label": "default-2024-08-21",
                                                                    "value": "default-2024-08-21"
                                                                },
                                                                {
                                                                    "label": "default-2024-11-15",
                                                                    "value": "default-2024-11-15"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "help": "The score threshold for the file search. Numbers closer to `1` will attempt to return only the most relevant results, but may return fewer results.",
                                                            "name": "score_threshold",
                                                            "type": "number",
                                                            "label": "Score Threshold",
                                                            "validate": {
                                                                "max": 1,
                                                                "min": 0
                                                            }
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Ranking Options"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Function",
                                            "value": "function",
                                            "nested": [
                                                {
                                                    "help": "The name of the function to call.",
                                                    "name": "name",
                                                    "type": "text",
                                                    "label": "Name",
                                                    "required": true
                                                },
                                                {
                                                    "help": "A JSON schema object describing the parameters of the function.",
                                                    "name": "parameters",
                                                    "type": "json",
                                                    "label": "Parameters",
                                                    "required": true
                                                },
                                                {
                                                    "help": "Whether to enforce strict parameter validation.",
                                                    "name": "strict",
                                                    "type": "boolean",
                                                    "label": "Strict",
                                                    "default": true,
                                                    "required": true
                                                },
                                                {
                                                    "help": "A description of the function.",
                                                    "name": "description",
                                                    "type": "text",
                                                    "label": "Description"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Computer use preview",
                                            "value": "computer_use_preview",
                                            "nested": [
                                                {
                                                    "help": "The height of the computer display.",
                                                    "name": "display_height",
                                                    "type": "number",
                                                    "label": "Display Height",
                                                    "required": true
                                                },
                                                {
                                                    "help": "The width of the computer display.",
                                                    "name": "display_width",
                                                    "type": "number",
                                                    "label": "Display Width",
                                                    "required": true
                                                },
                                                {
                                                    "help": "The type of computer environment to control.",
                                                    "name": "environment",
                                                    "type": "select",
                                                    "label": "Environment",
                                                    "options": [
                                                        {
                                                            "label": "Windows",
                                                            "value": "windows"
                                                        },
                                                        {
                                                            "label": "Mac",
                                                            "value": "mac"
                                                        },
                                                        {
                                                            "label": "Linux",
                                                            "value": "linux"
                                                        },
                                                        {
                                                            "label": "Browser",
                                                            "value": "browser"
                                                        }
                                                    ],
                                                    "required": true
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Web search preview",
                                            "value": "web_search_preview",
                                            "nested": [
                                                {
                                                    "help": "High level guidance for the amount of context window space to use for the search. Medium is the default value.",
                                                    "name": "search_context_size",
                                                    "type": "select",
                                                    "label": "Search Context Size",
                                                    "options": [
                                                        {
                                                            "label": "Low",
                                                            "value": "low"
                                                        },
                                                        {
                                                            "label": "Medium",
                                                            "value": "medium"
                                                        },
                                                        {
                                                            "label": "High",
                                                            "value": "high"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "help": "Approximate location parameters for the search.",
                                                    "name": "user_location",
                                                    "spec": [
                                                        {
                                                            "help": "The type of location approximation.",
                                                            "name": "type",
                                                            "type": "select",
                                                            "label": "Type",
                                                            "options": [
                                                                {
                                                                    "label": "Approximate",
                                                                    "value": "approximate"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "help": "The city of the user, e.g. `San Francisco`.",
                                                            "name": "city",
                                                            "type": "text",
                                                            "label": "City"
                                                        },
                                                        {
                                                            "help": "The two-letter ISO country code of the user, e.g. `US`.",
                                                            "name": "country",
                                                            "type": "select",
                                                            "label": "Country",
                                                            "options": "rpc://openai-gpt-3/1/getCountryCodes"
                                                        },
                                                        {
                                                            "help": "The region of the user, e.g. `California`.",
                                                            "name": "region",
                                                            "type": "text",
                                                            "label": "Region"
                                                        },
                                                        {
                                                            "help": "The timezone of the user, e.g. `America/Los_Angeles`.",
                                                            "name": "timezone",
                                                            "type": "timezone",
                                                            "label": "Timezone"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "User Location"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Web search preview (2025_03_11)",
                                            "value": "web_search_preview_2025_03_11",
                                            "nested": [
                                                {
                                                    "help": "High level guidance for the amount of context window space to use for the search. Medium is the default value.",
                                                    "name": "search_context_size",
                                                    "type": "select",
                                                    "label": "Search Context Size",
                                                    "options": [
                                                        {
                                                            "label": "Low",
                                                            "value": "low"
                                                        },
                                                        {
                                                            "label": "Medium",
                                                            "value": "medium"
                                                        },
                                                        {
                                                            "label": "High",
                                                            "value": "high"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "help": "Approximate location parameters for the search.",
                                                    "name": "user_location",
                                                    "spec": [
                                                        {
                                                            "help": "The type of location approximation.",
                                                            "name": "type",
                                                            "type": "select",
                                                            "label": "Type",
                                                            "options": [
                                                                {
                                                                    "label": "Approximate",
                                                                    "value": "approximate"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "help": "The city of the user, e.g. `San Francisco`.",
                                                            "name": "city",
                                                            "type": "text",
                                                            "label": "City"
                                                        },
                                                        {
                                                            "help": "The two-letter ISO country code of the user, e.g. `US`.",
                                                            "name": "country",
                                                            "type": "select",
                                                            "label": "Country",
                                                            "options": "rpc://openai-gpt-3/1/getCountryCodes"
                                                        },
                                                        {
                                                            "help": "The region of the user, e.g. `California`.",
                                                            "name": "region",
                                                            "type": "text",
                                                            "label": "Region"
                                                        },
                                                        {
                                                            "help": "The timezone of the user, e.g. `America/Los_Angeles`.",
                                                            "name": "timezone",
                                                            "type": "timezone",
                                                            "label": "Timezone"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "User Location"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "MCP",
                                            "value": "mcp",
                                            "nested": [
                                                {
                                                    "text": "MCP requests will automatically be approved.",
                                                    "type": "banner",
                                                    "theme": "info"
                                                },
                                                {
                                                    "name": "require_approval",
                                                    "type": "hidden",
                                                    "label": "Require Approval",
                                                    "default": "never"
                                                },
                                                {
                                                    "help": "A label for this MCP server, used to identify it in tool calls.",
                                                    "name": "server_label",
                                                    "type": "text",
                                                    "label": "Server Label",
                                                    "required": true
                                                },
                                                {
                                                    "help": "The URL for the MCP server.",
                                                    "name": "server_url",
                                                    "type": "url",
                                                    "label": "Server URL",
                                                    "required": true
                                                },
                                                {
                                                    "help": "List of allowed tool names.",
                                                    "name": "allowed_tools",
                                                    "spec": {
                                                        "type": "text",
                                                        "label": "Tool"
                                                    },
                                                    "type": "array",
                                                    "label": "Allowed Tools",
                                                    "labels": {
                                                        "add": "Add allowed tool"
                                                    }
                                                },
                                                {
                                                    "help": "Optional HTTP headers to send to the MCP server. Use for authentication or other purposes.",
                                                    "name": "headers",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "name": "key",
                                                                "type": "text",
                                                                "label": "Key"
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Header"
                                                    },
                                                    "type": "array",
                                                    "label": "Headers",
                                                    "labels": {
                                                        "add": "Add header"
                                                    }
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Code interpreter",
                                            "value": "code_interpreter",
                                            "nested": [
                                                {
                                                    "help": "**Container**\nA container is a fully sandboxed virtual machine where the model runs Python code.\n\n**Expiration Time**\nContainers expire if unused for 20 minutes. The expiration timer is reset after any operation on the container.",
                                                    "name": "container_type",
                                                    "type": "select",
                                                    "label": "Container type",
                                                    "options": [
                                                        {
                                                            "label": "Use existing container",
                                                            "value": "existing_container",
                                                            "nested": [
                                                                {
                                                                    "name": "container",
                                                                    "type": "select",
                                                                    "label": "Container",
                                                                    "options": {
                                                                        "store": "rpc://openai-gpt-3/1/getContainers"
                                                                    },
                                                                    "mappable": {
                                                                        "help": "Map the container ID. For example: `cntr_6878d51b5ffc8191b7c32c11c747cf4e`."
                                                                    },
                                                                    "required": true
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Create new container",
                                                            "value": "new_container",
                                                            "nested": [
                                                                {
                                                                    "name": "container",
                                                                    "spec": [
                                                                        {
                                                                            "help": "An optional list of uploaded files to make available to your code.",
                                                                            "name": "file_ids",
                                                                            "spec": {
                                                                                "type": "select",
                                                                                "label": "File ID",
                                                                                "options": "rpc://openai-gpt-3/1/getFiles"
                                                                            },
                                                                            "type": "array",
                                                                            "label": "File IDs",
                                                                            "labels": {
                                                                                "add": "Add file ID"
                                                                            }
                                                                        }
                                                                    ],
                                                                    "type": "collection",
                                                                    "label": "Container"
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "required": true
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Custom",
                                            "value": "custom",
                                            "nested": [
                                                {
                                                    "help": "The name of the custom tool, used to identify it in tool calls, for example: `abc`, `abc_defg`.",
                                                    "name": "name",
                                                    "type": "text",
                                                    "label": "Name",
                                                    "required": true
                                                },
                                                {
                                                    "help": "Description of the custom tool, used to provide more context.",
                                                    "name": "description",
                                                    "type": "text",
                                                    "label": "Description"
                                                },
                                                {
                                                    "name": "format",
                                                    "spec": [
                                                        {
                                                            "name": "type",
                                                            "type": "select",
                                                            "label": "Type",
                                                            "options": [
                                                                {
                                                                    "label": "Text",
                                                                    "value": "text"
                                                                },
                                                                {
                                                                    "label": "Grammar",
                                                                    "value": "grammar",
                                                                    "nested": [
                                                                        {
                                                                            "help": "The syntax of the grammar definition.",
                                                                            "name": "syntax",
                                                                            "type": "select",
                                                                            "label": "Syntax",
                                                                            "options": [
                                                                                {
                                                                                    "label": "Lark",
                                                                                    "value": "lark"
                                                                                },
                                                                                {
                                                                                    "label": "Regex",
                                                                                    "value": "regex"
                                                                                }
                                                                            ],
                                                                            "required": true
                                                                        },
                                                                        {
                                                                            "help": "The grammar definition.",
                                                                            "name": "definition",
                                                                            "type": "text",
                                                                            "label": "Definition",
                                                                            "required": true
                                                                        }
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Format"
                                                }
                                            ]
                                        }
                                    ],
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Tool"
                        },
                        "type": "array",
                        "label": "Tools"
                    },
                    {
                        "name": "tool_choice",
                        "type": "select",
                        "label": "Tool Choice",
                        "validate": {
                            "enum": [
                                "none",
                                "auto",
                                "required",
                                "file_search",
                                "web_search_preview",
                                "computer_use_preview",
                                "code_interpreter",
                                "function",
                                "custom",
                                "allowed_tools"
                            ]
                        }
                    },
                    {
                        "name": "parallel_tool_calls",
                        "type": "boolean",
                        "label": "Parallel Tool Calls"
                    },
                    {
                        "name": "background",
                        "type": "boolean",
                        "label": "Run in Background"
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P"
                    },
                    {
                        "name": "store",
                        "type": "boolean",
                        "label": "Store"
                    },
                    {
                        "name": "previous_response_id",
                        "type": "text",
                        "label": "Previous Response ID"
                    },
                    {
                        "name": "instructions",
                        "type": "text",
                        "label": "Instructions"
                    },
                    {
                        "name": "reasoning",
                        "spec": [
                            {
                                "name": "effort",
                                "type": "select",
                                "label": "Effort",
                                "validate": {
                                    "enum": [
                                        "minimal",
                                        "low",
                                        "medium",
                                        "high"
                                    ]
                                }
                            },
                            {
                                "name": "summary",
                                "type": "select",
                                "label": "Summary",
                                "validate": {
                                    "enum": [
                                        "auto",
                                        "concise",
                                        "detailed"
                                    ]
                                }
                            }
                        ],
                        "type": "collection",
                        "label": "Reasoning"
                    },
                    {
                        "name": "format",
                        "spec": [
                            {
                                "name": "type",
                                "type": "select",
                                "label": "Type",
                                "validate": {
                                    "enum": [
                                        "text",
                                        "json_schema",
                                        "json_object"
                                    ]
                                }
                            }
                        ],
                        "type": "collection",
                        "label": "Output Format"
                    },
                    {
                        "name": "truncation",
                        "type": "select",
                        "label": "Truncation",
                        "validate": {
                            "enum": [
                                "auto",
                                "disabled"
                            ]
                        }
                    },
                    {
                        "name": "include",
                        "type": "select",
                        "label": "Include",
                        "multiple": true,
                        "validate": {
                            "enum": [
                                "file_search_call.results",
                                "code_interpreter_call.outputs",
                                "message.input_image.image_url",
                                "computer_call_output.output.image_url"
                            ]
                        }
                    },
                    {
                        "name": "metadata",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Key"
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Metadata"
                        },
                        "type": "array",
                        "label": "Metadata"
                    },
                    {
                        "name": "input",
                        "type": "text",
                        "label": "Prompt"
                    }
                ],
                "interface": [
                    {
                        "name": "result",
                        "type": "any",
                        "label": "Result"
                    },
                    {
                        "name": "conversationId",
                        "type": "text",
                        "label": "Conversation ID"
                    },
                    {
                        "name": "raw_result",
                        "type": "any",
                        "label": "Raw Result"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Response ID"
                    },
                    {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                    },
                    {
                        "name": "created_at",
                        "type": "date",
                        "label": "Created at"
                    },
                    {
                        "name": "status",
                        "type": "text",
                        "label": "Status"
                    },
                    {
                        "name": "background",
                        "type": "boolean",
                        "label": "Background"
                    },
                    {
                        "name": "error",
                        "type": "text",
                        "label": "Error"
                    },
                    {
                        "name": "max_tool_calls",
                        "type": "number",
                        "label": "Max Tool Calls"
                    },
                    {
                        "name": "top_logprobs",
                        "type": "number",
                        "label": "Top Logprobs"
                    },
                    {
                        "name": "incomplete_details",
                        "spec": [
                            {
                                "name": "reason",
                                "type": "text",
                                "label": "Reason"
                            }
                        ],
                        "type": "collection",
                        "label": "Incomplete Details"
                    },
                    {
                        "name": "instructions",
                        "type": "any",
                        "label": "Instructions"
                    },
                    {
                        "name": "max_output_tokens",
                        "type": "number",
                        "label": "Max Output Tokens"
                    },
                    {
                        "name": "model",
                        "type": "text",
                        "label": "Model"
                    },
                    {
                        "name": "output",
                        "spec": [
                            {
                                "name": "input",
                                "type": "text",
                                "label": "Input"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "server_label",
                                "type": "text",
                                "label": "Server Label"
                            },
                            {
                                "name": "tools",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "annotations",
                                            "type": "text",
                                            "label": "Annotations"
                                        },
                                        {
                                            "name": "description",
                                            "type": "text",
                                            "label": "Description"
                                        },
                                        {
                                            "name": "input_schema",
                                            "spec": [
                                                {
                                                    "name": "type",
                                                    "type": "text",
                                                    "label": "Type"
                                                },
                                                {
                                                    "name": "properties",
                                                    "spec": [
                                                        {
                                                            "name": "query",
                                                            "spec": [
                                                                {
                                                                    "name": "type",
                                                                    "type": "text",
                                                                    "label": "Type"
                                                                },
                                                                {
                                                                    "name": "description",
                                                                    "type": "text",
                                                                    "label": "Description"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Query"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Properties"
                                                },
                                                {
                                                    "name": "required",
                                                    "spec": {
                                                        "type": "text"
                                                    },
                                                    "type": "array",
                                                    "label": "Required"
                                                },
                                                {
                                                    "name": "additionalProperties",
                                                    "type": "boolean",
                                                    "label": "Additional Properties"
                                                },
                                                {
                                                    "name": "$schema",
                                                    "type": "text",
                                                    "label": "Schema"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Input Schema"
                                        },
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "container",
                                            "spec": [
                                                {
                                                    "name": "type",
                                                    "type": "text",
                                                    "label": "Type"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Container"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array",
                                "label": "Tools"
                            },
                            {
                                "name": "approval_request_id",
                                "type": "text",
                                "label": "Approval Request ID"
                            },
                            {
                                "name": "error",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "content",
                                        "spec": {
                                            "spec": [
                                                {
                                                    "name": "type",
                                                    "type": "text",
                                                    "label": "Type"
                                                },
                                                {
                                                    "name": "text",
                                                    "type": "text",
                                                    "label": "Text"
                                                },
                                                {
                                                    "name": "annotations",
                                                    "type": "text",
                                                    "label": "Annotations"
                                                }
                                            ],
                                            "type": "collection"
                                        },
                                        "type": "array",
                                        "label": "Content"
                                    }
                                ],
                                "type": "collection",
                                "label": "Error"
                            },
                            {
                                "name": "output",
                                "type": "text",
                                "label": "Output"
                            },
                            {
                                "name": "status",
                                "type": "text",
                                "label": "Status"
                            },
                            {
                                "name": "queries",
                                "spec": {
                                    "type": "text"
                                },
                                "type": "array",
                                "label": "Queries"
                            },
                            {
                                "name": "results",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "attributes",
                                            "type": "collection",
                                            "label": "Attributes"
                                        },
                                        {
                                            "name": "file_id",
                                            "type": "text",
                                            "label": "File ID"
                                        },
                                        {
                                            "name": "filename",
                                            "type": "text",
                                            "label": "File name"
                                        },
                                        {
                                            "name": "score",
                                            "type": "number",
                                            "label": "Score"
                                        },
                                        {
                                            "name": "text",
                                            "type": "text",
                                            "label": "Text"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array",
                                "label": "Results"
                            },
                            {
                                "name": "role",
                                "type": "text",
                                "label": "Role"
                            },
                            {
                                "name": "call_id",
                                "type": "text",
                                "label": "Call ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "arguments",
                                "type": "text",
                                "label": "Arguments"
                            },
                            {
                                "name": "summary",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "array",
                                "label": "Summary"
                            },
                            {
                                "name": "content",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "text",
                                            "type": "text",
                                            "label": "Text"
                                        },
                                        {
                                            "name": "annotations",
                                            "spec": {
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "text",
                                                        "label": "Type"
                                                    },
                                                    {
                                                        "name": "container_id",
                                                        "type": "text",
                                                        "label": "Container ID"
                                                    },
                                                    {
                                                        "name": "end_index",
                                                        "type": "uinteger",
                                                        "label": "End Index"
                                                    },
                                                    {
                                                        "name": "start_index",
                                                        "type": "uinteger",
                                                        "label": "Start Index"
                                                    },
                                                    {
                                                        "name": "title",
                                                        "type": "text",
                                                        "label": "Title"
                                                    },
                                                    {
                                                        "name": "file_id",
                                                        "type": "text",
                                                        "label": "File ID"
                                                    },
                                                    {
                                                        "name": "filename",
                                                        "type": "text",
                                                        "label": "File name"
                                                    },
                                                    {
                                                        "name": "index",
                                                        "type": "uinteger",
                                                        "label": "Index"
                                                    },
                                                    {
                                                        "name": "url",
                                                        "type": "url",
                                                        "label": "URL"
                                                    },
                                                    {
                                                        "name": "container_id",
                                                        "type": "text",
                                                        "label": "Container ID"
                                                    }
                                                ],
                                                "type": "collection"
                                            },
                                            "type": "array",
                                            "label": "Annotations"
                                        },
                                        {
                                            "name": "logprobs",
                                            "spec": {
                                                "type": "text"
                                            },
                                            "type": "array",
                                            "label": "Logprobs"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array",
                                "label": "Content"
                            },
                            {
                                "name": "code",
                                "type": "text",
                                "label": "Code"
                            },
                            {
                                "name": "container_id",
                                "type": "text",
                                "label": "Container ID"
                            },
                            {
                                "name": "outputs",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "filename",
                                            "type": "text",
                                            "label": "Filename",
                                            "semantic": "file:name"
                                        },
                                        {
                                            "name": "filedata",
                                            "type": "buffer",
                                            "label": "Data",
                                            "semantic": "file:data"
                                        },
                                        {
                                            "name": "url",
                                            "type": "text",
                                            "label": "Base64 data URL"
                                        },
                                        {
                                            "name": "logs",
                                            "type": "text",
                                            "label": "Logs"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array",
                                "label": "Outputs"
                            }
                        ],
                        "type": "array",
                        "label": "Output"
                    },
                    {
                        "name": "parallel_tool_calls",
                        "type": "boolean",
                        "label": "Parallel Tool Calls"
                    },
                    {
                        "name": "previous_response_id",
                        "type": "text",
                        "label": "Previous Response ID"
                    },
                    {
                        "name": "prompt",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "variables",
                                "type": "array",
                                "label": "Variables"
                            },
                            {
                                "name": "version",
                                "type": "text",
                                "label": "Version"
                            }
                        ],
                        "type": "collection",
                        "label": "Prompt"
                    },
                    {
                        "name": "reasoning",
                        "spec": [
                            {
                                "name": "effort",
                                "type": "text",
                                "label": "Effort"
                            },
                            {
                                "name": "summary",
                                "type": "text",
                                "label": "Summary"
                            }
                        ],
                        "type": "collection",
                        "label": "Reasoning"
                    },
                    {
                        "name": "service_tier",
                        "type": "text",
                        "label": "Service Tier"
                    },
                    {
                        "name": "store",
                        "type": "boolean",
                        "label": "Store"
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature"
                    },
                    {
                        "name": "text",
                        "spec": [
                            {
                                "name": "format",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "description",
                                        "type": "text",
                                        "label": "Description"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "schema",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "properties",
                                                "type": "collection",
                                                "label": "Properties"
                                            },
                                            {
                                                "name": "additionalProperties",
                                                "type": "boolean",
                                                "label": "Additional Properties"
                                            },
                                            {
                                                "name": "required",
                                                "type": "array",
                                                "label": "Required"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Schema"
                                    },
                                    {
                                        "name": "strict",
                                        "type": "boolean",
                                        "label": "Strict"
                                    }
                                ],
                                "type": "collection",
                                "label": "Format"
                            },
                            {
                                "name": "verbosity",
                                "type": "text",
                                "label": "Verbosity"
                            }
                        ],
                        "type": "collection",
                        "label": "Text"
                    },
                    {
                        "name": "tool_choice",
                        "spec": [
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "mode",
                                "type": "text",
                                "label": "Mode"
                            },
                            {
                                "name": "tools",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "server_label",
                                        "type": "text",
                                        "label": "Server Label"
                                    }
                                ],
                                "type": "array",
                                "label": "Tools"
                            }
                        ],
                        "type": "collection",
                        "label": "Tool Choice"
                    },
                    {
                        "name": "tools",
                        "spec": {
                            "spec": [
                                {
                                    "name": "type",
                                    "type": "text",
                                    "label": "Type"
                                },
                                {
                                    "name": "search_context_size",
                                    "type": "text",
                                    "label": "Search Context Size"
                                },
                                {
                                    "name": "user_location",
                                    "spec": [
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "city",
                                            "type": "text",
                                            "label": "City"
                                        },
                                        {
                                            "name": "country",
                                            "type": "text",
                                            "label": "Country"
                                        },
                                        {
                                            "name": "region",
                                            "type": "text",
                                            "label": "Region"
                                        },
                                        {
                                            "name": "timezone",
                                            "type": "timezone",
                                            "label": "Timezone"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "User Location"
                                },
                                {
                                    "name": "description",
                                    "type": "text",
                                    "label": "Description"
                                },
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name"
                                },
                                {
                                    "name": "allowed_tools",
                                    "type": "text",
                                    "label": "Allowed Tools"
                                },
                                {
                                    "name": "headers",
                                    "type": "collection",
                                    "label": "Headers"
                                },
                                {
                                    "name": "require_approval",
                                    "type": "text",
                                    "label": "Require Approval"
                                },
                                {
                                    "name": "server_label",
                                    "type": "text",
                                    "label": "Server Label"
                                },
                                {
                                    "name": "server_url",
                                    "type": "url",
                                    "label": "Server URL"
                                },
                                {
                                    "name": "parameters",
                                    "type": "collection",
                                    "label": "Parameters"
                                },
                                {
                                    "name": "strict",
                                    "type": "boolean",
                                    "label": "Strict"
                                },
                                {
                                    "name": "filters",
                                    "spec": [
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "key",
                                            "type": "text",
                                            "label": "Key"
                                        },
                                        {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Value"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Filters"
                                },
                                {
                                    "name": "max_num_results",
                                    "type": "number",
                                    "label": "Max Results Number"
                                },
                                {
                                    "name": "ranking_options",
                                    "spec": [
                                        {
                                            "name": "ranker",
                                            "type": "text",
                                            "label": "Ranker"
                                        },
                                        {
                                            "name": "score_threshold",
                                            "type": "number",
                                            "label": "Score Threshold"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Ranking Options"
                                },
                                {
                                    "name": "vector_store_ids",
                                    "spec": {
                                        "type": "text"
                                    },
                                    "type": "array",
                                    "label": "Vector Store IDs"
                                },
                                {
                                    "name": "container",
                                    "spec": [
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "file_ids",
                                            "spec": {
                                                "type": "text"
                                            },
                                            "type": "array",
                                            "label": "File ids"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Container"
                                },
                                {
                                    "name": "format",
                                    "spec": [
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "definition",
                                            "type": "text",
                                            "label": "Definition"
                                        },
                                        {
                                            "name": "syntax",
                                            "type": "text",
                                            "label": "Syntax"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Format"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Tools"
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P"
                    },
                    {
                        "name": "truncation",
                        "type": "text",
                        "label": "Truncation"
                    },
                    {
                        "name": "usage",
                        "spec": [
                            {
                                "name": "input_tokens",
                                "type": "number",
                                "label": "Input Tokens"
                            },
                            {
                                "name": "input_tokens_details",
                                "spec": [
                                    {
                                        "name": "cached_tokens",
                                        "type": "number",
                                        "label": "Cached Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Input Tokens Details"
                            },
                            {
                                "name": "output_tokens",
                                "type": "number",
                                "label": "Output Tokens"
                            },
                            {
                                "name": "output_tokens_details",
                                "spec": [
                                    {
                                        "name": "reasoning_tokens",
                                        "type": "number",
                                        "label": "Reasoning Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Output Tokens Details"
                            },
                            {
                                "name": "total_tokens",
                                "type": "number",
                                "label": "Total Tokens"
                            }
                        ],
                        "type": "collection",
                        "label": "Usage"
                    },
                    {
                        "name": "user",
                        "type": "text",
                        "label": "User"
                    },
                    {
                        "name": "metadata",
                        "type": "collection",
                        "label": "Metadata"
                    },
                    {
                        "name": "prompt_cache_key",
                        "type": "text",
                        "label": "Prompt Cache Key"
                    },
                    {
                        "name": "safety_identifier",
                        "type": "text",
                        "label": "Safety Identifier"
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 950,
                    "y": -3
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 5,
                            "module": "google-docs:appendADocument",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 4975958
                            },
                            "mapper": {
                                "text": "\n\n{{3.post_id}}\n{{4.created_at}}\n-------------------\n{{4.result}}\n-------------------\n\n",
                                "choose": "dropdown",
                                "select": "document",
                                "document": "/1B2n3d11xt3_zmSgddo56uWFbakViIc8v/1AoW05VeECow1Ncip3nax1dJkUE_zYFe1uVKBP0HveCI",
                                "destination": "drive"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1250,
                                    "y": -153
                                },
                                "restore": {
                                    "expect": {
                                        "choose": {
                                            "label": "By Dropdown"
                                        },
                                        "select": {
                                            "label": "By appending to the body of document"
                                        },
                                        "document": {
                                            "path": [
                                                "LinkedIn Automation",
                                                "LI-Automation-Update"
                                            ]
                                        },
                                        "destination": {
                                            "label": "My Drive"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (gogna.sahil95@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "choose",
                                        "type": "select",
                                        "label": "Select a Document",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "mapping",
                                                "dropdown"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "destination",
                                        "type": "select",
                                        "label": "Choose a Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "document",
                                        "type": "file",
                                        "label": "Document ID",
                                        "required": true
                                    },
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Insert a Paragraph",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "location",
                                                "document",
                                                "segment"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Appended Text",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 7,
                            "module": "linkedin:CreatePost",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 5548685
                            },
                            "mapper": {
                                "content": "{{4.result}}",
                                "visibility": "PUBLIC",
                                "feedDistribution": "MAIN_FEED",
                                "isReshareDisabledByAuthor": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1250,
                                    "y": 147
                                },
                                "restore": {
                                    "expect": {
                                        "type": {
                                            "mode": "chose",
                                            "empty": true
                                        },
                                        "mentions": {
                                            "mode": "chose"
                                        },
                                        "visibility": {
                                            "mode": "chose",
                                            "label": "Public"
                                        },
                                        "feedDistribution": {
                                            "mode": "chose",
                                            "label": "Main feed"
                                        },
                                        "isReshareDisabledByAuthor": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "linkedin2"
                                            },
                                            "label": "My LinkedIn connection (Super Saiyan)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:linkedin2,linkedin-openid",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content",
                                        "required": true
                                    },
                                    {
                                        "name": "mentions",
                                        "spec": [
                                            {
                                                "name": "entity",
                                                "type": "select",
                                                "label": "Entity",
                                                "options": [
                                                    {
                                                        "label": "Person",
                                                        "value": "member",
                                                        "nested": [
                                                            {
                                                                "help": "For example, `urn:li:person:1234`. Only mention someone with a connection to the authenticated user.",
                                                                "name": "urn",
                                                                "type": "text",
                                                                "label": "Entity URN",
                                                                "required": true
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Company",
                                                        "value": "company",
                                                        "nested": [
                                                            {
                                                                "help": "For example, `urn:li:organization:123456`.",
                                                                "name": "urn",
                                                                "type": "text",
                                                                "label": "Entity URN",
                                                                "required": true
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "required": true
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Entity Name",
                                                "required": true
                                            },
                                            {
                                                "name": "start",
                                                "type": "number",
                                                "label": "Start",
                                                "required": true
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Mentions"
                                    },
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Media Type",
                                        "validate": {
                                            "enum": [
                                                "ARTICLE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "visibility",
                                        "type": "select",
                                        "label": "Visibility",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "PUBLIC",
                                                "CONNECTIONS",
                                                "LOGGED_IN"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "feedDistribution",
                                        "type": "select",
                                        "label": "Feed Distribution",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "MAIN_FEED",
                                                "NONE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "isReshareDisabledByAuthor",
                                        "type": "boolean",
                                        "label": "Is Reshare Disabled",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 8,
                            "module": "airtable:ActionUpdateRecords",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 5087656
                            },
                            "mapper": {
                                "base": "appt5LdnL5EbRPtlX",
                                "typecast": false,
                                "useColumnId": false,
                                "table": "tblJa26raafxnu2dk",
                                "id": "{{2.id}}",
                                "record": {
                                    "fldSaOaV2wJ2wLhUf": "true"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1554,
                                    "y": 144
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "AI Integration Schema Connection",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable2"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "base": {
                                            "label": "AI Integrations 2"
                                        },
                                        "typecast": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        },
                                        "table": {
                                            "label": "LinkedIn"
                                        },
                                        "record": {
                                            "nested": {
                                                "fldwEvRJ0RZZ7NCk2": {
                                                    "collapsed": true
                                                },
                                                "fldthEznXOhaaR8wK": {
                                                    "mode": "edit"
                                                }
                                            }
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "Record ID",
                                        "required": true
                                    },
                                    {
                                        "name": "record",
                                        "type": "collection",
                                        "label": "Record",
                                        "spec": [
                                            {
                                                "name": "fldwEvRJ0RZZ7NCk2",
                                                "type": "number",
                                                "label": "post_id"
                                            },
                                            {
                                                "name": "fld1EWzgkgo06xC9H",
                                                "type": "date",
                                                "label": "Date",
                                                "time": false
                                            },
                                            {
                                                "name": "fldthEznXOhaaR8wK",
                                                "type": "select",
                                                "label": "Type",
                                                "mode": "edit"
                                            },
                                            {
                                                "name": "fld4qTdbj9jlduMHZ",
                                                "type": "text",
                                                "label": "Notes"
                                            },
                                            {
                                                "name": "fldSaOaV2wJ2wLhUf",
                                                "type": "text",
                                                "label": "is_processed"
                                            }
                                        ]
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "post_id",
                                        "label": "post_id",
                                        "type": "number"
                                    },
                                    {
                                        "name": "Date",
                                        "label": "Date",
                                        "type": "date",
                                        "time": false
                                    },
                                    {
                                        "name": "Type",
                                        "label": "Type",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Notes",
                                        "label": "Notes",
                                        "type": "text",
                                        "multiline": true
                                    },
                                    {
                                        "name": "is_processed",
                                        "label": "is_processed",
                                        "type": "text"
                                    }
                                ],
                                "advanced": true
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}